* {
box-sizing: border-box;
margin: 0px;
padding: 0px;
}

body {
background-image: url(../img/background.jpg);
}
/* стилизация для горизонтальной блочной верстки */
.string:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.string { display: inline-block; }

* html .string { height: 1%; }
.string { display: block; }
/* _____________________________________________ */

/* стилизация хедера */
.header {
margin-bottom: 10px;
}

.inner-header {
background:  #ffffff;
height: 70px;
}
.inner-header h1 {
padding: 10px;
}
.logo {
float: left;
}
.menu {
float: left;
}

.main-menu  { 
padding-top: 19px;
text-align: center;
}

.main-menu li {
font-size: 20px;
margin-left: 10px;
margin-right: 10px;
display: inline;
}

.main-menu li a {
font-family: sans-serif;
font-size: 20px;
color: #c2bebd;
font-weight: 400;
}

.main-menu li a:hover {
font-size: 21px;
color: #e815a3;
}
/* _____________________________________________ */

/* стилизация контента */
.content {
width: 80%;
float: left;
}
.inner-content {
padding-top: 15px;
min-height: 500px;
}

.column-1 {
width: 65%;
float: left;
padding-right: 10px;
padding-top: 15px;
}

.column-2 {
padding-top: 15px;
width: 35%;
float: left;
text-align: justify;
}
/* _____________________________________________ */

/* стилизация сайдбара */
.sidebar {
float: left;
width: 20%;
padding-left: 10px;
}
.inner-sidebar {
min-height: 500px;
}
/* _____________________________________________ */

/* стилизация футера */
.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
}
.inner-footer {
background:  #3e4352;
height: 150px;
}
.inner-footer p {
color: #ffffff;
padding-top: 10px;
padding-left: 10px;
}
/* _____________________________________________ */

/* Стилизация общих / отдельных элементов */
a {
text-decoration: none;
}

h1, h2 {
color: #ec15a3;
}

h3 {
color: black;
font-size: 18px;
font-weight: 400;
background-color: #eaeaea;
}

#girl1 {
width: 100%;
border-radius: 10px;
}

li {
list-style: none;
}
/* _____________________________________________ */

/* стилизация каталога */
.product-1 {
width: 33%;
float: left;
padding-right: 10px;
padding-top: 15px;
}

.product-1 a {
color: #ec15a3;
}

.product-2 {
width: 33%;
float: left;
padding-right: 10px;
padding-top: 15px;
}

.product-2 a {
color: #ec15a3;
}

.product-3 {
width: 33%;
float: left;
padding-right: 10px;
padding-top: 15px;
}

.product-3 a {
color: #ec15a3;
}
/* _____________________________________________ */

/* стилизация внутренней страницы товара */
.description-text {
color: #707070;
font-size: 16px;
font-style: italic;
line-height: 16px;
}
.description-detailed {
color: #484343;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
}

.catalog_img {
float: left;

}
.description {
float: left;
margin-left: 50px; 
}
table {
border-collapse: collapse;
}
td {
width: 100px;
height: 40px;
border: 2px solid;
font-size: 0.8em;
padding: 5px 7px;
text-align: center;
}

.about {
clear: left;
}

/* _____________________________________________ */

/* стилизация обратной связи на стр контакты */
.feedback {
margin-left: 15px;
}

p.contact { 
font-size: 18px; 
margin-bottom: 10px; 
line-height: 25px;  
}

input[type="text"] {
width: 300px;
height: 30px; 
text-transform: capitalize;
}
 
textarea { 
width: 300px; 
height: 100px; 
}
 
label { 
color: #ec15a3; 
}
 
input, textarea { 
background-color: #fff; 
border: 2px solid #a8a6a6; 
padding: 5px; 
color: red; 
font-size: 14px; 
border-radius: 5px;
margin-bottom: 10px;
margin-top: -10px;
}
 
input:focus, textarea:focus { 
border: 4px solid #ec15a3; 
background-color: rgba(255, 255, 255, 1);
color: #ec15a3;
}
 
input[type="submit"] {
 border-color: #ec15a3;
 color: black;
 margin-left: 213px;
 margin-top: 10px;
 }
 
input[type="submit"]:hover {
background-color: #ec15a3;
color: #fff;
}

.adress {
margin-left: 15px;
}
/* _____________________________________________ */